      <div id="content" class="container clearfix">
        <section id="page-title" class="row content">
          <div id="col-main" class="col-md-24 clearfix">
            <div id="main-title">
              <h1 class="text-center font30 blue">About Us</h1>
            </div>


            <section id="bowen">
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 col-sm-12">
                  <img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Blaine%20Bowen/Aboutphoto_zps18a83c88.jpg~original" alt="" class="img-responsive">
                  <br><br>
                </div>
                <div class="col-md-3"></div>
                <div class="col-sm-12">
                  <div>
                  <br>
                  <i class="fa fa-quote-left red margin50 padding-top15 text-center"></i>
                  <br><br>
                  <h2 class="text-center quoted">FASHION IS NOT SOMETHING THAT EXISTS IN DRESSES ONLY. FASHION IS IN THE SKY, IN THE STREET, FASHION HAS TO DO WITH IDEAS, THE WAY WE LIVE WHAT IS HAPPENING.</h2>
                  <i class="fa fa-quote-right red margin50 padding-top15 text-center"></i>
                  <br><br>
                  <h2 class="text-center quoted">- COCO CHANEL </h2>
                  </div>
                </div>
              </div>

            </section>

            <section id="info">
              <div class="row">
                  <div id="josephin" class="col-sm-12">
                    <h1>ABOUT BLAINE BOWEN JEWELRY</h1>
                    <p>Blaine Bowen Jewelry was created out of a love for art, fashion and philanthropy. Based in Dallas, Blaine Bowen Jewelry is a unique jewelry line, where each piece is handcrafted from high quality materials and authentic gemstones found around the world.</p>
                    <p>Owner and designer, Blaine Muhl’s zest for life has helped influence her one of-a-kind pieces. Her designs are also largely influenced by the colorful cultures she has experienced first hand during her many travels around the world, and her time growing up on an out island in the Bahamas. The design of each handcrafted piece of jewelry features a twist on contemporary trends, such as cuff bracelets, with Blaine’s personal touch. Blaine’s goal is to create beautiful, unique pieces to compliment the inner and outer beauty of her clients.</p>
                    <p>Giving back is a core value at Blaine Bowen Jewelry, which is why Blaine has created the Pay it Forward Collection. The Pay It Forward Collection benefits a variety of different charities including Free The Children and the African Wildlife Foundation. Blaine looks forward to expanding this collection for the years to come.</p>
                  </div>
                  <div id="josephin" class="col-sm-12">
                    <h1>ABOUT BLAINE</h1>
                    <p>Blaine Muhl created Blaine Bowen Jewelry in January 2013, as a way for her to combine her love of art, fashion and philanthropy. Inspired by some words of advice from a friend, “Love what you do and you never have to work a day in your life,” Blaine has made these words her reality with Blaine Bowen Jewelry.</p>
                    <p>Blaine was a Delta Gamma at the University of Kansas and is a lover of competitive equestrian, drawing, fashion, philanthropy, sports, and her four dogs Rufus, Pipsqueak, Moglie and Cleo as well as her two horses Mikey and Asher.  Blaine was a World Champion and multiple Top Ten finisher over her years in the Amateur Hunter/Jumper Division.</p>
                    <p class="text-center purple">xoxo BB</p>
                  </div>
                </div>
              </div>


            </section>
          </div>
        </section>
      </div>