<div class="sb-wrapper sb-wapper-procoll">
{% if settings.cta1_file != '' %}
  <a href="{{settings.cta1_link}}" class="sb-content">
    <img class="img-responsive" src="{{settings.cta1}}" alt="">
  </a>
 {%else%}
{% endif %}
</div>
<div class="sb-wrapper sb-wapper-procoll">
{% if settings.cta2_file != '' %}
  <a href="{{settings.cta2_link}}" class="sb-content">
    <img class="img-responsive" src="{{settings.cta2}}" alt="">
  </a>
 {%else%}
{% endif %}
</div>
