          <div id="widget-contact">
            <div class="widget-wrapper text-center">
              <h1 class="not-animated" data-animate="fadeInDown" data-delay="0">
                <span>About</span>
                Estmeque’s
              </h1>
              <ul class="list-unstyled list-styled">
                <li>
                  <a class="btn btn-1 mright-7 not-animated" data-animate="fadeInRight" data-delay="250" href="./register.html">Visit store</a>
                  <a class="btn not-animated" data-animate="fadeInLeft" data-delay="250" href="./contact-us.html">Contact</a>
                </li>
                <li class="info not-animated" data-animate="fadeInUp" data-delay="500">
                  Pellentesque a lobortis ligula. Phasellus aliquam, orci et congue bibendum, elit orci facilisis turpis, vitae suscipit nisi mattis nec quam a ultricies. Sed vitae lacinia nequejusto aliquam lacus, eget bibendum lectus neque a enim massa loreser
                </li>
                <li class="address not-animated" data-animate="fadeInUp" data-delay="500">
                  <span class="contact-title">Address:</span>&nbsp;No.123 fake, Green house, Heaven Ward, Gosh City
                </li>
                <li class="email not-animated" data-animate="fadeInUp" data-delay="500">
                  <span class="contact-title"> Email:</span>&nbsp;<a href="mailto:emthemesvn@gmail.com">emthemesvn@gmail.com</a>
                </li>
                <li class="support not-animated" data-animate="fadeInUp" data-delay="500">
                  <span class="contact-title">Tel:</span>&nbsp;<span>010 123 789 345</span>
                  <i class="contact-title">|</i>
                  <span class="contact-title">Fax:</span>&nbsp;<span>010 234 890 734</span>
                </li>
              </ul>
            </div>
          </div>