  <footer id="footer">
    <div class="container">
      <div id="footer-content">
      <br><br>
        <div class="row footer-content-middle">
          <div id="widget-flickr" class="col-sm-8">
            <div class="widget-wrapper " >
              <h4>
                CUSTOMER SERVICE
      
                PRESS & MEDIA
              </h4>
             </div>

          </div>
          <div id="widget-linklist1" class="col-sm-6">
            <div class="widget-wrapper ">
              <h4>
                Information
              </h4>
              <ul class="font10 list-unstyled list-styled">
                <li>
                  <a href="/" title="Home">Home</a>
                </li>
                <li>
                  <a href="/collections" title="Shop">Collections</a>
                </li>
                <li>
                  <a href="/blogs/News" title="Blog">Blog & Press</a>
                </li>
                <li>
                  <a href="/pages/about-us" title="About Us">About</a>
                </li>
                 <li>
                  <a href="/pages/contact" title="Contact Us">Contact</a>
                </li>
                <li>
                  <a href="/pages/wholesale-contact" title="Wholesale Contact">Wholesalers</a>
                </li>
                <li>
                  <a href="/pages/return-policy" title="Return Policy">Return Policy</a>
                </li>
                <li>
                  <a href="/pages/custom" title="Custom Orders">Custom Orders</a>
                </li>
              </ul>
            </div>
          </div>

          <div id="widget-social" class="col-sm-10">
          <div class="row">
          <div class="col-sm-16">
            <div class="widget-wrapper ">
              <h4>
                Follow Us
              </h4>
              <ul class="list-inline">
                <li><a target="_blank" href="" class="btooltip swing" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a target="_blank" href="" class="btooltip swing" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a target="_blank" href="" class="btooltip swing" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                <li><a target="_blank" href="" class="btooltip swing" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Instagram"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
            </div>
            <div id="widget-payment" class="col-sm-8">
              <ul id="payments" class="list-inline animated">
              <li class="btooltip tada" data-toggle="tooltip" data-placement="top" title="" data-original-title="Paypal"><a href="javascript:" class="icons paypal"></a></li>
              <li class="btooltip tada" data-toggle="tooltip" data-placement="top" title="" data-original-title="Visa"><a href="javascript:" class="icons visa"></a></li>
              <li class="btooltip tada" data-toggle="tooltip" data-placement="top" title="" data-original-title="American Express"><a href="javascript:" class="icons amex"></a></li>
              <li class="btooltip tada" data-toggle="tooltip" data-placement="top" title="" data-original-title="Mastercard"><a href="javascript:" class="icons mastercard"></a></li>
            </ul>
            </div>
            </div>
            <div class="pull-right text-right">
              <div class="copyright footer-bottom">© 2012 Simply Gameday LLC™ DBA Blaine Bowen Jewelry<br/>powered by // <a href="http://anthro.is/" target="_blank" class="font12">anthro.is</a> // a digital partner & platform</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
  </footer>