          <div id="widget-shipping">
            <div class="widget-wrapper text-center">
              <h1 class="not-animated" data-animate="fadeInLeft" data-delay="200">
                Free shipping all over $695
                <span class="icons shipping"></span>
              </h1>
              <ul class="list-unstyled not-animated" data-animate="fadeInLeft" data-delay="200">
                <li>
                  <a href="#">View details<i class="fa fa-caret-right"></i></a>
                </li>
              </ul>
            </div>
          </div>