            <div class="home_ads_wrapper">
              <div class="container" >
                <div id="home_ads" class="clearfix">
                  <div class="ads-heading">
                    Fusce fashion
                  </div>
                  <div class="ads-caption">
                    Praesent egestas
                  </div>
                  <div class="ads-action">
                    <a class="btn" href="">Shop online<i class="fa fa-caret-right"></i></a>
                  </div>
                </div>
              </div>
            </div>