
	<div class="container" id="payit">
		<h2 class="text-center">Pay it Forward</h2>
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-22">
				<p class="text-center">Giving back is important to us here at Blaine Bowen Jewelry. in honor of our commitment to 'paying it forward', portions of proceeds from these sets will benefit selected charities close to the heart of the Blaine Bowen Jewelry brand. Donations are made quarterly to the selected charities, and we continue to highlight different charities throughout the year. All of our charities are inspected and throughly researched before being selected as a beneficiary. Use our 'contact' section to request a charity or cause to be highlighted...or request to have a custom bracelet made in memory of someone, or personal cause.</p>
			</div>
			<div class="col-sm-1"></div>
		</div>
		<div class="row text-center">
			<a class="button" href="/collections/pay-it-forward-collection">BROWSE THE COLLECTION </a>
		</div>
		<br>

	</div>
