<div id="share-wrapper" class="hidden-xs">
    <ul class="share-inner-wrp">
        <!-- Facebook -->
        <li class="facebook button-wrap"><a href="#">Facebook</a></li>

        <!-- Twitter -->
        <li class="twitter button-wrap"><a href="#">Tweet</a></li>

        <li class="pinterest buttons-wrap"><a href="#">Follow Me</a></li>


         <!-- Shop -->
        <li class="cart buttons-wrap"><a href="/collections/">Collections</a></li>

        <!-- <li class="cart button-wrap"><a href="/collections">Shop</i></li> -->
    </ul>
</div>

