<!doctype html>
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

{{ content_for_header }}
  
{% include 'head' %}

<body ng-app="blaine" class="templateIndex" itemscope itemtype="http://schema.org/WebPage">

{% include 'navbar' %}
  
{% include 'share-wrap' %}


  <div id="content-wrapper-parent">
    <div id="content-wrapper">
        {% include 'toolbar' %}

        {{content_for_layout}}

    </div>
  </div>
  


  {% include 'footer' %}

  {% include 'scripts' %}
</body>
</html>
