
<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <i class="close fa fa-times btooltip" data-toggle="tooltip" data-placement="top" title="Close" data-dismiss="modal" aria-hidden="true"></i>
        <h2 id="quick-shop-title">{{product.title}}</h2>
      </div>
      <div class="modal-body">
        <div class="quick-shop-modal-bg"></div>
        <div class="row">
          <div class="col-md-12 product-image">
            <div id="quick-shop-image" class="product-image-wrapper">
              <a href="./screen/demos/demo_366x536.png" class="main-image elevatezoom_qs">
                <img class="img-zoom img-responsive image-fly" src="./screen/demos/demo_366x536.png" data-zoom-image="./screen/demos/demo_366x536.png" alt="">
              </a>
              <div id="gallery_main_qs" class="product-image-thumb scroll scroll-mini">
                <a class="image-thumb active" href="./screen/demos/demo_366x536.png" alt="" data-image="./screen/demos/demo_366x536.png" data-zoom-image="./screen/demos/demo_366x536.png">
                  <img src="./screen/demos/demo_84x123.png" alt="">
                </a>
                <a class="image-thumb" href="./screen/demos/demo_366x536.png" alt="" data-image="./screen/demos/demo_366x536.png" data-zoom-image="./screen/demos/demo_366x536.png">
                  <img src="./screen/demos/demo_84x123.png" alt="">
                </a>
                <a class="image-thumb" href="./screen/demos/demo_366x536.png" alt="" data-image="./screen/demos/demo_366x536.png" data-zoom-image="./screen/demos/demo_366x536.png">
                  <img src="./screen/demos/demo_84x123.png" alt="">
                </a>
                <a class="image-thumb" href="./screen/demos/demo_366x536.png" alt="" data-image="./screen/demos/demo_366x536.png" data-zoom-image="./screen/demos/demo_366x536.png">
                  <img src="./screen/demos/demo_84x123.png" alt="">
                </a>
                <a class="image-thumb" href="./screen/demos/demo_366x536.png" alt="" data-image="./screen/demos/demo_366x536.png" data-zoom-image="./screen/demos/demo_366x536.png">
                  <img src="./screen/demos/demo_84x123.png" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-12 product-information">
            <div id="quick-shop-container">
              <div id="quick-shop-relative" class="relative text-left">
                <ul class="list-unstyled">
                  <li class="control-group vendor">
                    <span class="control-label">Vendor:</span><a href="./collection.html"> Vendor 4</a>
                  </li>
                  <li class="control-group type">
                    <span class="control-label">Type:</span><a href="./collection.html"> New collection 2</a>
                  </li>
                </ul>
              </div>
              <div class="sharing clearfix">
                            
				<!-- AddThis Button BEGIN -->
				<a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=300&amp;pubid=xa-52a93d3e6cae604d"><img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a>
				<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-52a93d3e6cae604d"></script>
				<!-- AddThis Button END -->
                            
                </div>
              <form action="./product.html" method="post" class="variants" id="quick-shop-product-actions" enctype="multipart/form-data">
                <div id="quick-shop-variants-container" class="variants-wrapper">
                  <div class="selector-wrapper clearfix">
                    <label for="#quick-shop-variants-175388197-option-0">Size</label>
                    <div class="wrapper">
                      <select class="single-option-selector col-md-12" id="#quick-shop-variants-175388197-option-0" style="z-index:1000;position:absolute;opacity:0;font-size:13px">
                        <option value="Small">Small</option>
                        <option value="Large">Large</option>
                      </select>
                      <button type="button" class="custom-style-select-box btn-block" style="display:block;overflow:hidden">
                        <span class="custom-style-select-box-inner" style="width:58px;display:inline-block">Small</span>
                      </button>
                      <i class="fa fa-caret-down"></i>
                    </div>
                  </div>
                  <div class="selector-wrapper clearfix">
                    <label for="#quick-shop-variants-175388197-option-1">Color</label>
                    <div class="wrapper">
                      <select class="single-option-selector col-md-12" id="#quick-shop-variants-175388197-option-1" style="z-index:1000;position:absolute;opacity:0;font-size:13px">
                        <option value="Blue">Blue</option>
                      </select>
                      <button type="button" class="custom-style-select-box btn-block" style="display:block;overflow:hidden">
                        <span class="custom-style-select-box-inner" style="width:58px;display:inline-block">Blue</span>
                      </button>
                      <i class="fa fa-caret-down"></i>
                    </div>
                  </div>
                  
                </div>
                <div class="quantity-wrapper clearfix">
                  <label class="wrapper-title">Qty</label>
                  <div class="col-md-5 wrapper pos-relative">
                    <input type="text" id="qs-quantity" size="5" class="btn-block item-quantity" name="quantity" value="1">
                    <span class="qty-group">
                      <span class="qty-wrapper">
                        <span class="qty-up btooltip" data-toggle="tooltip" data-placement="top" title="Increase" data-src="#qs-quantity">
                          <i class="fa fa-plus"></i>
                        </span>
                        <span class="qty-down btooltip" data-toggle="tooltip" data-placement="top" title="Decrease" data-src="#qs-quantity">
                          <i class="fa fa-minus"></i>
                        </span>
                      </span>
                    </span>
                  </div>
                </div>
                <div id="quick-shop-price-container" class="detail-price"><span class="price"><span class="money">$370.00</span></span></div>
                <div class="others-bottom">
                  <input id="quick-shop-add" class="btn small add-to-cart" type="submit" name="add" value="Add to Cart">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div id="quick-shop-infomation">
          <div id="quick-shop-description" class="text-left"><h5>Paragraph text</h5>
            <p>Nam tristique porta ligula, vel viverra sem eleifend nec. Nulla sed purus augue, eu euismod tellus. Nam mattis eros nec mi sagittis sagittis. Vestibulum suscipit cursus bibendum. Integer at justo eget sem auctor auctor eget vitae arcu. Nam tempor malesuada porttitor. Nulla quis dignissim ipsum. Aliquam pulvinar iaculis justo, sit amet interdum sem hendrerit vitae. Vivamus vel erat tortor. Nulla facilisi. In nulla quam, lacinia eu aliquam ac, aliquam in nisl.</p>
            <h5>Unordered list</h5>
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
              <li>Maecenas ullamcorper est et massa mattis condimentum.</li>
              <li>Vestibulum sed massa vel ipsum imperdiet malesuada id tempus nisl.</li>
              <li>Etiam nec massa et lectus faucibus ornare congue in nunc.</li>
              <li>Mauris eget diam magna, in blandit turpis.</li>
            </ul>
            <h5>Ordered list</h5>
            <ol>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
              <li>Maecenas ullamcorper est et massa mattis condimentum.</li>
              <li>Vestibulum sed massa vel ipsum imperdiet malesuada id tempus nisl.</li>
              <li>Etiam nec massa et lectus faucibus ornare congue in nunc.</li>
              <li>Mauris eget diam magna, in blandit turpis.</li>
            </ol>
            <p>In cursus faucibus tortor eu vestibulum. Ut eget turpis ac justo porta varius. Donec vel felis ante, ac vehicula ipsum. Quisque sed diam metus. Quisque eget leo sit amet erat varius rutrum vitae dapibus lectus. Vivamus et sapien ante. Suspendisse potenti. Fusce in tellus est, ac consequat lacus. Nulla risus massa, commodo in imperdiet ut, ornare in leo. Duis pellentesque sagittis lorem, sed mollis lorem venenatis id.</p></div>
        </div>
      </div>
    </div>
</div>

