<!-- <div id="404" class="row">
  <div class="col-sm-24">
    
    <h2>Page not found</h2>
    <span class="subtext">Sorry, we couldn't find this page.</span>
    
  </div>
</div> -->

<!-- start 404 content -->
<section class="content404">
    <div class="container">
            <h1>404</h1>
            <p class="lead">WE’RE SORRY. THE PAGE YOU ARE LOOKING FOR DOES NOT EXIST.</p>
            <p class="lead">Maybe be you were looking for one of these pages:</p><br/>
            <ul>
                <li><a href="/" class="button">HOME</a></li>
                <li><a href="/collections" class="button">BACK TO THE STORE</a></li>
                <li><a href="/pages/contact" class="button">CONTACT</a></li>
            </ul>
    </div><!-- end 404 container -->
</section><!-- end 404 section -->

</div>