<div id="content" class="container clearfix">
  {% include 'blog-bread' %}
  <section class="row content">
    <div class="col-sm-6 sidebar hidden-xs">
      {% include 'blog-recent' %}
      {% include 'blog-side-imgs' %}
    </div>
    {% include 'article-body' %}
  </section>
</div>

