<div id="content" class="container clearfix">
  {% include 'blog-bread' %}
  <section class="row content">
    <div class="col-sm-6 sidebar hidden-xs">
      {% include 'blog-recent' %}
      {% include 'blog-side-imgs' %}
    </div>
    {% include 'blog-body' %}
  </section>
</div>

<div id="collection-btm" class="container">
  <div class="row">
  <div class="collection-border"></div>
    <div class="col-md-24">
      <section class="news">
      {% include 'newsletter' %}
      <section
      <div class="clearfix"></div>
    </div>
  </div>
</div>