<div id="content" class="container clearfix">
  <section id="list-collections-banner" class="collection-banner">
    <h1>COLLECTIONS</h1>
  </section>
  <br>

  <section class="row content">
        {% include 'item-sidebar' %}
        <div class="col-sm-18">
        <br>
        {% include 'list-collection' %}
        </div>
    </div>
    
  </section>

</div>
<div id="collection-btm" class="container">
  <div class="row">
  <div class="collection-border hidden-xs"></div>
    <div class="col-md-24">
      <section class="news">
        {% include 'newsletter' %}
      </section>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
