{% if page.handle == 'about-us' %}
	{% include 'about-us' %}

{% elsif page.handle == 'contact' %}

	{% include 'contact-us' %}

{% elsif page.handle == 'wholesale-contact' %}

	{% include 'wholesale-contact' %}

{% elsif page.handle == 'custom' %}

	{% include 'custom' %}

{% elsif page.handle == 'forgot-pass' %}
	{% include 'forgot-pass' %}
{% else %}


<div id="page" class="container">
  
  <section id="page-title" class="row content">
    <div id="col-main" class="col-md-24 clearfix">
        <div id="main-title">
        	<h1 class="blue font30 text-center">{{ page.title }}</h1>
        </div>
	</div>
	{{ page.content }}
  </section>
  
</div>

{% endif %}